a {
    display: block;
    height: 100%;
}

.c-btn {
    margin-bottom: 11px;
}

.c-btn a {
    text-decoration: none;
}

.l-right {
    text-align: right
}

textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.b-sub {
    margin-top: 10px;
}

.b-cen {
    margin-left: 20px;
    margin-top: 10px;
}
